body{
    background-color: bisque;
}

.login_title{
    text-align: center;
    width: 100%;
    font-size: 5rem;
}

.login_box{
    text-align: center;
    width: 100%;
}

.id_box{
    width: 800px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

.password_box{
    width: 800px;
    height: 60px;
    font-size: 30px;
    text-align: center;
}

.main_site{
    display: flex;
    width: 100px;
    height: 30px;
    background-color: transparent;
    color: red;
    font-size: 1.2rem;
    text-align: center;
    border: none;
}

.t_list{
    width: 100%;
    height: 80px;
    color: blue;
}

@media screen and (max-width: 800px) {
    .id_box{width: 400px;}
    .password_box{width: 400px;}
    
}